<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <nav>
        <div class="logo">
            <h1>Logo</h1>
        </div>

        <div class="els">
            <div class="nav-links"><a href="#">Home</a></div>
            <div class="nav-links"><a href="#">About</a></div>
            <div class="nav-links"><a href="#">Contacts</a></div>
        </div>
    </nav>
</body>
</html>